/* ------------------------   Grid Layout for 1st Page  ----------------------*/

  /*------------ Mobile Stack -----------*/
#choose-container {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 500px min-content 120px 40px 120px 40px;*/
    /*grid-template-rows: auto;*/
    grid-template-areas:
      "big-image"
      "instructions"
      "form-position"
      "form-year"
      "form-week"
      "select-button"
      "."
      "form-playerOne"
      "form-playerTwo"
      "."
      "compare-button"
      ".";
  }

.big-image {
  grid-area: big-image;
}

.instructions {
  grid-area: instructions;
}

.form-position {
  grid-area: form-position;
  justify-self: center;
  align-self: center;
}

.form-year {
  grid-area: form-year;
  justify-self: center;
  align-self: center;
}

.form-week {
  grid-area: form-week;
  justify-self: center;
  align-self: center;
}

.select-button {
  grid-area: select-button;
  justify-self: center;
  align-self: center;
}

.form-playerOne {
  grid-area: form-playerOne;
  justify-self: center;
  align-self: center;
}

.form-playerTwo {
  grid-area: form-playerTwo;
  justify-self: center;
  align-self: center;
}

.compare-button {
  grid-area: compare-button;
  justify-self: center;
  align-self: start;
}


/*------------  Laptop / Desktop  -----------*/
@media only screen and (min-device-width: 750px) {
  #choose-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 500px min-content 150px 80px 190px 80px;*/
    /*grid-template-rows: auto;*/
    grid-template-areas:
      "big-image big-image big-image"            /*500px*/
      "instructions instructions instructions"   /*min-content*/
      "form-position form-year form-week"        /*150px*/
      ". select-button ."                        /*80px*/
      "form-playerOne . form-playerTwo"          /*190px*/
      ". compare-button .";                      /*80px*/
  }

  .form-playerOne {
    justify-self: end;
  }

  .form-playerTwo {
    justify-self: start;
  }
}


/* -----------------------  Grid Layout for Comparison Popup  -------------------------*/

  /*------------ Mobile Stack -----------*/
.compare {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "masthead"
    "bio-1"
    /*"logo-1"*/
    "stats-1"
    "border"
    "bio-2"
    /*"logo-2"*/
    "stats-2";
}

.masthead {
 grid-area: masthead;
 display: flex;
}

.playerOne-stuff {
  grid-area: bio-1;
  display: flex;
  justify-content: space-around;
}

.player-one-stats {
  grid-area: stats-1;
  justify-self: center;
}

.border-between {
  grid-area: border;
}

/*.playerOne-logo {
  grid-area: bio-1;
  justify-self: center;
}*/

.playerTwo-stuff {
  grid-area: bio-2;
  display: flex;
  justify-content: space-around;
}

.player-two-stats {
  grid-area: stats-2;
  justify-self: center;
}

/*.playerTwo-logo {
  grid-area: logo-2;
  justify-self: center;
}*/
/*
#close {
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
  align-self: center;
}


/*------------  Laptop / Desktop  -----------*/
@media only screen and (min-device-width: 750px) {
  .compare {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .masthead {
    grid-row: 1;
    grid-column: 1 / span 6;
    justify-content: space-between;
    align-items: center;
  }

  .playerOne-stuff {
    grid-row: 2;
    grid-column: 1 / span 3;
  }

  .playerTwo-stuff {
    grid-row: 2;
    grid-column: 4 / span 3;
  }

  .player-one-stats {
    grid-row: 3;
    grid-column: 1 / span 3;
  }

  .player-two-stats {
    grid-row: 3;
    grid-column: 4 / span 3;
  }

  .border-between {
    opacity: 0;
  }

  /*#close {
    grid-row: 1;
    grid-column: 4;
    justify-self: center;
    align-self: center;
  }

}



