/*body {
  background: #333;
  font-family: 'Roboto', sans-serif;
}*/

/*h1 {
  display: block;
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 30px;
}

.buttons {
  text-align: center;
}
.buttons a {
  display: inline-block;
  background: #e74a54;
  color: #fff;
  padding: 10px 40px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
} */

.overlay {
  background: darkgreen;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.overlay.is-on {
  opacity: 1;
  visibility: visible;
}
.overlay.is-on .content {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.overlay .content {
  background: #fff;
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  /*opacity: 0;*/
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#close {
  /*position: absolute;
  right: 20px;
  top: 20px;*/
  font-size: 1em;
  color: #999;
  cursor: pointer;
}
